@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --second-bg-color: rgb(240, 188, 120);
    --text-color: #fffcfc;
    background-image: linear-gradient(to right,rgb(153, 100, 26) , rgb(241, 201, 149));
}


html {
    font-size: 18px;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 4.1%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100 ;
    transition: .3s;

}


.header.sticky{
    background: rgb(135, 136, 222) ;
}



.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 2.5rem;
    transition: 0.3s;
    

}

.navbar a:hover{
    color: black;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 4%;
    background: url('photo.png') no-repeat;
    background-size: 475px;
    background-position: right;
    margin-bottom: 0px;
}


.home-content{
    max-width: 60rem;
    
}

.home-content h1{
    font-size: 3rem;
    line-height: 1.1;
    font-weight:700;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3{
    font-size: 2rem ;
    font-weight:700 ;
    color: rgb(156, 255, 222);
    transition: .3s;


} 


.home-content .text-animate h3:hover{
    color: var(--second-bg-color);

}



.home-content p{
    font-size: 1rem;
    margin: 1rem 0 2rem;
    color: black;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:14.5rem ;
    height: 5rem;

}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    color:rgb(82, 80, 80);
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    border-radius:32px;    
    width: 7rem;
    height: 36%;
    border: 5px;
    letter-spacing: .1rem;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .4s;

}

.btn-box .btn:hover{
    color: rgb(180, 44, 44);
}

.btn-box.btn:nth-child(2) {
    background: transparent;
    color: var(--text-color);
}

.btn-box.btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box.btn:nth-child(2)::before{
    background: var(--text-color);
}



.btn-box .btn::before{
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.home-sci{
    position:absolute ;
    display:flex ;
    bottom:4rem ;
    width:170px ;
    justify-content: space-between;
}


.home-sci a{
    position: relative;
    display:inline-flex ;
    height:40px;
    width:40px ;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid black;
    border-radius: 40%;
    font-size: 110%;
    color: rgb(0, 0, 0);
    z-index: 1;
    overflow: hidden;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 2px rgb(70, 69, 69);
}

.home-sci a:hover:{
    color: var(--bg-color);
    
}

.home-sci a::before{
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    
}

.home-sci a:hover::before{
    width: 100%;
    
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 37%;
    height: 100%;
    background: transparent;
    transition: 2s;

}

.home-imgHover:hover{
    background:rgb(238, 195, 139);
    opacity: .8;
    border-radius: 8px;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about .heading span{
    color: #b69148 ;
    text-shadow: 3px 3px rgb(51, 47, 47);
}

.heading{
    font-size: 2.8rem;
    margin-left:2px;
}

.about-content h3{
    font-size: 1.6rem;
}

.about-content p{
    font-size: 18px;
    margin-top: 8px;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
    margin: 2rem 0 3rem;

}

.btn-box.btns a::before{
    background:rgb(168, 128, 76);
}


.education{
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .heading span{
    color: #b69148 ;
    text-shadow: 3px 3px rgb(51, 47, 47);
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    float: 1 1 40rem;
}


.education-column .title{
    font-size: 1.5rem;
    padding-bottom: 30px;
    padding-top: 40px;
}

.education-column .education-box {
    border-left: .2rem solid var(--text-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 1rem;
}


.education-box .education-content::before{
    content:"";
    position: absolute;
    top:0;
    width:1.6rem;
    height: 1.6rem;
    background: var(--text-color);
    border-radius: 50%;
    left: -1.0rem;
}

.education .gpa{
    font-size: 12px;
    margin-left: 17px ;
    font-weight: bold;
}

.education .education-column .city {
    font-size: 14px;
    margin-left: 10px;
}


.education-content .content{
    position: relative;
    padding: 1.1rem;
    border: .1rem solid var(--text-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}


.education-content .content::before{
    content:"";
    position: absolute;
    top:0;
    width:0%;
    height: 100%;
    background:rgb(168, 128, 76);
    left: 0;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width:100%;

}

.education-content .content .year{
    font-size: 1rem;
    color: var(--text-color);
    padding-bottom: .5rem;
}


.education-content .content .year i{
    padding-right: .5rem;
}


.education-content .content h3{
    font-size: 18px;
}


.project .heading span{
    color: #b69148 ;
    text-shadow: 3px 3px rgb(51, 47, 47);
}

.project-content:hover{
    background-color: #b69148;
    transition: .5s;
    border-radius: 8px;
    
}





.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}

.skills .heading{
    padding-bottom: 2rem;
}

.skills .heading span{
    color: #b69148;
    text-shadow: 3px 3px rgb(51, 47, 47);


}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    

}

.skills-row .skills-column{
    flex: 1 1 17rem;

}

.skills-column .title{
    font-size: 22px;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .1rem solid var(--text-color);
    border-radius: .4rem;
    padding: .3rem 1.4rem;
    z-index: 1;
    overflow: hidden;
    
    
}

.skills-box .skills-content::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height: 100%;
    transition: .4s;
    z-index: -1;
    background:rgb(168, 128, 76) ;

}


.skills-box .skills-content:hover::before{
    width: 100%;
    
}

.skills-content .progress{
    padding: 0.5rem 0;
}


.skills-content .progress h3{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;

}

.skills-content .progress h3 span{
    color: var(--text-color);

}

.skills-content .progress .bar{
    height:1.4rem ;
    border-radius: .4rem;
    border: .2rem solid var(--text-color);
    padding: .2rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .2rem;
    background: var(--text-color);
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(3) .bar span{
    width: 70%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(5) .bar span{
    width: 49%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(6) .bar span{
    width: 60%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(7) .bar span{
    width: 70%;
}



.skills-column :nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(2) .bar span{
    width: 39%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(3) .bar span{
    width: 69%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(5) .bar span{
    width: 80%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(6) .bar span{
    width: 85%;
}

.skills-column:nth-child(1)  .skills-content .progress:nth-child(7) .bar span{
    width: 69%;
}





.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact .heading span{
    color: #b69148 ;
    text-shadow: 3px 3px rgb(51, 47, 47);
}

.contact form{
    max-width: 60rem;
    margin: 0 auto;
    
}


.contact form .input-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contact form .input-box .input-field{
    position: relative;
    width: 45%;
    margin: .2rem ;
}



.contact form .input-box .input-field input{
    width:50%;
    height: 10%;
    padding: 1.2rem;
    font-size: 18px;
    color: var(--text-color);
    background: transparent;
    border-radius: .5rem;
    border: .1rem solid var(--text-color);
}

.contact form .textarea-field textarea{
    width:50%;
    height: 10%;
    padding: 1.2rem;
    font-size: 18px;
    color: var(--text-color);
    background: transparent;
    border-radius: .5rem;
    border:.1rem  solid var(--text-color);

}


.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}


.contact form .focus{
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height: 60%;
    z-index: -1;
    background: rgb(168, 128, 76);
    transition: .5s;
    border-radius: .5rem;
}


.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus
.contact form .textarea-field textarea:valid~.focus{
    width: 50%;

}


.contact form .textarea-field{
    position: relative;
    margin: .1rem 0 2.3rem;
    display: flex;
}


.contact form .textarea-field textarea{
    resize: none;
}


.contact form .btn-box.btns.btns{
    cursor: pointer;
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:  2rem 9%;
    background-color: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .8rem;
    background: rgba(128, 94, 31, 0.637);
    border: .5rem;
    border-radius: 8px ;
    z-index: 1;
    overflow: hidden;

}

.footer-iconTop a::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height: 100%;
    transition: .4s;
    z-index: -1;
    transition: .5s;
    background: #b69148;

}

.footer-iconTop a:hover::before{
    width: 100%;
}



/* BREAKPOINTS */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%
    }
    
}


@media (max-width: 768px) {
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

}    


@media (max-width: 520px) {
    html{
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;

    }

    .home-sci {
        width: 160px;

    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
        
}
    
@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education{
        padding : 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }

}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }

    .home-content h1{
        font-size: 4rem;
    }
    
 }


 /* KEY FRAME ANIMATION */
 @keyframes homeBgText {

    0% ,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0 ;
    }


 }


 /* KEY FRAME ANIMATION */
 @keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78% ,
    85%{
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }


 }











































































































































































































































































































